[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "2.11.3"
jsonata-python = "0.5.3"
aiomqtt = "2.3.2"
prs-connector-core = {file = ".", editable = true}

[dev-packages]
pytest = "8.3.5"
pytest-cov = "6.1.1"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
